In [14]:
import pandas as pd
df_sub=pd.read_csv(r'C:\Users\anuj.sali\Desktop\MTR\data\submission.csv')
df_sub1=df_sub.copy()
df_sub1 = df_sub1[['PRIM_STATE', 'NAICS_TITLE', 'OCC_TITLE']]
display(df_sub1.head())
df_sub1.nunique()

,PRIM_STATE,NAICS_TITLE,OCC_TITLE
0,US,Accommodation and Food Services,Other Production Occupations
1,NE,Cross-industry,"Arts, Design, Entertainment, Sports, and Media..."
2,US,Manufacturing,Construction and Extraction Occupations
3,US,Wholesale Trade,Material Moving Workers
4,US,Other Services (except Public Administration),Supervisors of Building and Grounds Cleaning a...

PRIM_STATE      52
NAICS_TITLE     21
OCC_TITLE      115
dtype: int64

In [16]:
df_=pd.read_csv(r'C:\Users\anuj.sali\Desktop\MTR\data\train.csv')
df_ = df_[['PRIM_STATE', 'NAICS_TITLE', 'OCC_TITLE']]
print(df_.nunique())
print("The extra category in OCC_TITLE in Train Data:- ", set(list(df_['OCC_TITLE'])) - set(list(df_sub1['OCC_TITLE'])) )
df_=pd.get_dummies(df_)
display(df_.head())

PRIM_STATE      52
NAICS_TITLE     21
OCC_TITLE      116
dtype: int64
The extra category in OCC_TITLE in Train Data:-  {'Lawyers, Judges, and Related Workers'}

,PRIM_STATE_AK,PRIM_STATE_AL,PRIM_STATE_AR,PRIM_STATE_AZ,PRIM_STATE_CA,PRIM_STATE_CO,PRIM_STATE_CT,PRIM_STATE_DC,PRIM_STATE_DE,PRIM_STATE_FL,...,OCC_TITLE_Supervisors of Protective Service Workers,OCC_TITLE_Supervisors of Sales Workers,OCC_TITLE_Supervisors of Transportation and Material Moving Workers,"OCC_TITLE_Textile, Apparel, and Furnishings Workers",OCC_TITLE_Top Executives,OCC_TITLE_Tour and Travel Guides,OCC_TITLE_Transportation and Material Moving Occupations,"OCC_TITLE_Vehicle and Mobile Equipment Mechanics, Installers, and Repairers",OCC_TITLE_Water Transportation Workers,OCC_TITLE_Woodworkers
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [3]:
df_sub1=pd.get_dummies(df_sub1)
# Get missing columns in the training test
missing_cols = set( df_.columns ) - set( df_sub1.columns )
# Add a missing column in test set with default value equal to 0
for c in missing_cols:
    df_sub1[c] = 0
# Ensure the order of column in the test set is in the same order than in train set
df_sub1 = df_sub1[df_.columns]
(df_sub1.columns == df_.columns).all()

True

In [8]:
df_.shape, df_sub1.shape

((2297, 189), (926, 189))

In [11]:
import joblib
multi_grad_model=joblib.load(r"C:\Users\anuj.sali\Desktop\MTR\models\multi_grad_default.sav")
multi_grad_model

MultiOutputRegressor(estimator=GradientBoostingRegressor(random_state=0))

In [13]:
result = multi_grad_model.score(X_test, y_test)
print(result)

NameError: name 'X_test' is not defined